if SHIELD_REMANU_LEFT

config ZMK_KEYBOARD_NAME
    default "ReManu"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_REMANU_LEFT || SHIELD_REMANU_RIGHT

config ZMK_SPLIT
    default y

endif